/* Cascade style sheet file */
/* Project Web Publisher 2.0 */
/* Created by Siri Chongasamethaworn (siri_c@nomagicasia.com) */
body                    { margin: 0; font: small sans-serif; color: #525252; background-color: #FFFFFF; text-align:center; -moz-box-sizing: border-box; }
table                   { background: #FFFFFF; font-size: 100%; color: #000000; }
td                      { font-family: sans-serif; }
a:link                  { font-family: sans-serif; color: #1863A1; text-decoration: underline; }
a:hover                 { font-family: sans-serif; color: #7EC541; text-decoration: underline; }
a:visited               { font-family: sans-serif; color: #1863A1; text-decoration: underline; }
a.more:link             { font-family: sans-serif; color: #7EC541; text-decoration: underline; }
a.more:hover            { font-family: sans-serif; color: #7EC541; text-decoration: underline; }
a.more:visited          { font-family: sans-serif; color: #7EC541; text-decoration: underline; }
a.node:link             { font-family: sans-serif; font-size: 100%; line-height: 1em; color: #1863A1; text-decoration: underline; }
a.node:hover            { font-family: sans-serif; font-size: 100%; line-height: 1em; color: #7EC541; text-decoration: underline; }
a.node:visited          { font-family: sans-serif; font-size: 100%; line-height: 1em; color: #1863A1; text-decoration: underline; }
h1, h2                  { color: black; background: none; font-weight: normal; margin: .2em .2em 0 0; padding-top: .5em; padding-bottom: .17em; }
h3, h4, h5, h6          { color: black; background: none; font-weight: bold; margin: .2em 0 0 0; padding-top: .5em; padding-bottom: .17em; }
h1                      { font-size: 188%; border-bottom: 1px solid #0A0A0A; }
h2                      { font-size: 150%; border-bottom: 1px solid #0A0A0A; }
h3                      { font-size: 132%; }
h4                      { font-size: 116%; }
h5                      { font-size: 100%; }
h6                      { font-size: 90%;  }
ol                      { line-height: 1em; margin: 0 0 0 1.5em; padding: 0; }
ul                      { line-height: 1.5em; margin: .3em 0 0 1.5em; padding: 0; list-style-type: square; }
ul.none                 { line-height: 1.5em; margin: .3em 0 0 1.5em; padding: 0; list-style-type: none; list-style-image:none;}
img                     { vertical-align: middle; }
p                       { margin: .1em 0 .1em 0; }
ins                     { text-decoration: underline; color: #00FF00; }
del                     { text-decoration: line-through; color: #FF0000; }

/* Container */
#container              { margin: 0 auto 0 auto; -moz-box-sizing: border-box; }
#leftContainer          { margin-left: 0; width:180px; padding-top: 2px; float:left; }
#rightContainer         { margin-right:0; padding-top: 2px; margin-left:195px; background: #FFFFFF; }
#diagramContainer       { text-align:center; margin: .2em 0 0 0; padding: 0; background: #FAFAFA; overflow:hidden; }
#content                { margin: 0px 4px 10px 2px; padding: 2px 2px 8px 2px; text-align:left; background: #FAFAFA; overflow:hidden; }

/* Content */
h2#contentHeader        {}
#content img.diagram    { padding: .2em 0 .2em 0; width: 100%; height: 100%; }
div.description         { padding: .2em; font-size: 100%; }
ul.properties           { padding: 1em; font-size: 90%; }
div.item                { padding: 2px; vertical-align: middle; }
dfn                     { color: #4B7A98; font-style: normal; }

/* Divider */
.splitpane-first        { vertical-align: top; -moz-box-sizing: border-box; }
.splitpane-second       { vertical-align: top; -moz-box-sizing: border-box; }
.splitpane-vdivider     { background-color: #AACCFF; width: 2px; -moz-box-sizing: border-box;}

/* Menu */
ul.toolbar              { display: none; }
#titlebar               { vertical-align: middle; background-color: #666666; border-bottom: 2px solid #AACCFF; color: #CCCCCC; }
#actionbar              { vertical-align: middle; display:block; overflow:hidden; }
#viewbar                { vertical-align: middle; display:block; overflow:hidden; padding: .1em .1em 0 .1em; line-height: 1.5em; }
#diagrambar             { display: none; }
#containmentButton      { display: none; }

/* Tab */
ul.tab                  { display: none; }

/* Browser */
#browser                { margin: 0 2px 10px 1px; padding: 2px; text-align: left; background: #FAFAFA; border: #D4D0C8 solid 1px; overflow: hidden; }
.browserbar             { background-color: #E5E5E5; font-weight: bold; padding: 4px; line-height: 1em; }
ul#tree                 { line-height: 1em; margin: 0; }
ul#tree ul              { line-height: 1em; margin: 0; }
ul#tree li              { white-space: nowrap;}
ul#tree li a:link       { font-size: 90%; color: #1863A1; text-decoration: none; }
ul#tree li a:hover      { font-size: 90%; color: #7EC541; text-decoration: underline; }
ul#tree li a:visited    { font-size: 90%; color: #1863A1; text-decoration: none; }

/* Table layout */
div.table               { padding: .2em; margin: .2em 1em 1em .2em; background: #FFFFFF; }
div.thead               { font-weight:bold; font-size: 100%; border-bottom: #CCCCCC solid 1px; padding: .2em 0 .2em 0; }
div.thead img           { padding-right: .1em; cursor: pointer; }
div.table div.tbody     { font-size: 90%; z-index: -1; }
div.table div.row       { margin-bottom:.2em; padding:.2em; overflow:hidden; border-top: #CCCCCC solid 1px; clear: both; }
div.table div.row > div   { padding-left: .2em; }
div.table div.row > label { float: left; display: block; width: 180px; padding-right: .2em; font-weight: normal; color: #000000; }
div.table div.row > span.col { float: left; display: block; padding-left: .2em; }
div.table div.row > input { float: left; display: block; text-align: left; padding-left: .2em;}
div.table div.row > input[type="button"] { text-align: center; }
div.table div.row > select { float: left; display: block; text-align: left; padding-left: .2em;}
div.table div.row > br     { clear: left; line-height: 1.1em; }
div.table div.row > center { display: block; width: 0px; }
div.table div.row > li     { margin-left: 1.5em; }
div.table div.row > table  { float: left; }
div.table div.row .none   { padding: 0; margin: 0; }
div.table div.row .toggle { padding: .1em; cursor: pointer; float: right; }

/* Loading dialog */
span.loading            { background: url("../images/animated_loading.gif") no-repeat left top; padding: 0 0 0 18px; }
div#popup               { font: normal 80% sans-serif;  background: #FF0000; color: #FFFFFF; padding: .1em .1em .1em .1em; position: absolute; left: 0; top: 0; z-index: 10; }

/* Dialog */
div.dialogContent       { border:2px solid #8888FF; padding: 2px; background-color:#FEFEFF }

/* Input */
.back, .backDisabled,
.forward, .forwardDisabled { display: none; }
.selectTreeButton       { display: none; }
input, textarea         { border: #888888 solid 1px; background: #FFFFFF; margin: 0 0 .1em 0; padding: 0; }
#quicksearch            { display: none; }

/* Fake link */
.link                   { font-family: sans-serif; color: #1863A1; text-decoration: underline; cursor: pointer; }
.hover                  { font-family: sans-serif; color: #7EC541; text-decoration: underline; cursor: pointer; }
.visited                { font-family: sans-serif; color: #1863A1; text-decoration: underline; cursor: pointer; }
